<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					<a href="https://automationforum.co" target="_blank">AutomationForum.co</a>
					&nbsp;-&nbsp;
					<a href="https://forumautomation.com" target="_blank">ForumAutomation.com</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				jo-bs.com  All Right Reserved. Powered by <a href="https://infohe.com">Team Infohe</a>.
			</div>
		</div>
	</footer>
</template>
